<main>
    <div class="container">

        <section
            class="section  mt-5 error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
            <h1 class="error_Title">404</h1>
            <h2 class="error_404_h2 mt-4">The page you are looking for doesn't exist.</h2>
            <a class="btn error_404_btn text-white" routerLink="/home">Back to home</a>
            <img src="assets/admin-ressource/img/not-found.svg" class="img-fluid py-5" alt="Page Not Found">

        </section>

    </div>
</main><!-- End #main -->